# Ignore node_modules directory
node_modules/

# Ignore build output
dist/
build/

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore yarn.lock for Yarn
yarn.lock


# Created by https://www.toptal.com/developers/gitignore/api/yarn
# Edit at https://www.toptal.com/developers/gitignore?templates=yarn

### yarn ###
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

apps/.yarn/*
!apps/.yarn/releases
!apps/.yarn/patches
!apps/.yarn/plugins
!apps/.yarn/sdks
!apps/.yarn/versions

# if you are NOT using Zero-installs, then:
# comment the following lines
!.yarn/cache

# and uncomment the following lines
.pnp.*

# End of https://www.toptal.com/developers/gitignore/api/react,yarn